body {
  background-color: lightblue;
}

h1 {
  color: #f54242;
  font-size: 20px;
}

.list {
  background-color: green;
  border-style: dotted;
}

.list li {
  background-color: yellow;
  font-style: italic;
}
